<div class="container">
  <div class="section group">
    <div class="col span_5_of_9">
      <div id="homepage-content">
        <h1 id="homepage-title">Matthew King - Design & Direction</h1>
        <!-- <p id="homepage-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        <img id="homepage-hamburger" src="/assets/hamburger" alt="">
        <ul id="homepage-navigation">
          <li id="INCYAN">IN|CYAN</li>
          <li id="Salon">Salon</li>
          <li id="Federation">Federation</li>
          <li id="Calligraphy">Calligraphy</li>
          <li id="Aeroponics">Aeroponics</li>
          <li id="The Digest">The Digest</li>
          <li id="ABOUT"><%= link_to "ABOUT", about_path %></li>
        </ul>
      </div>
    </div>
    <div class="col span_4_of_9 sub-content">

    </div>
  </div>
</div>
